*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log

# Standard NIfTI C Library
nifti1_test
nifti_stats
nifti_tool
*.mk
dbh.h
fslio.h
nifti1.h
nifti1_io.h
nifticdf.h
znzlib.h

ext/nifticlib/Makefile
*.rej
